body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
    padding: 2rem;
  }
  
  h1 {
    text-align: center;
  }
  
  .add-lista {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  
  input {
    flex: 1;
    padding: 0.6rem;
    font-size: 1rem;
  }
  
  button {
    padding: 0.6rem 1rem;
    background: #007b43;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background: white;
    padding: 0.7rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Estilo para bloco de quantidade */
  .quantidade {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: auto;
  }
  
  .quantidade button {
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    background-color: #eee;
    color: #000;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  